Machine learning & Data Science Project - Real Estate Price Prediction Project

In [25]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

In [10]:
bangaluru = pd.read_csv("Bengaluru_House_Data.csv", header = 0)

In [11]:
bangaluru.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [20]:
bangaluru.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [23]:
bangaluru['area_type'].value_counts()

[area_type
 Super built-up  Area    8790
 Built-up  Area          2418
 Plot  Area              2025
 Carpet  Area              87
 Name: count, dtype: int64]

Drop features that are not requered to build our model

In [17]:
df2 = bangaluru.drop(['area_type', 'society', 'balcony', 'availability'], axis = 'columns')

In [18]:
df2.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

Data Clearning: Handle NA values

In [26]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [28]:
df2.shape

(13320, 5)

In [29]:
df3 = df2.dropna()

In [30]:
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [34]:
df3.shape

(13246, 5)

## Feature Engineering
Add new feature(integer) for bhk (Bedrooms Hall kitchen)

In [35]:
df3['bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))
df3.bhk.unique()

C:\Users\Renan\AppData\Local\Temp\ipykernel_3584\2716584372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [41]:
df3

                       location       size total_sqft  bath   price  bhk
0      Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2                   Uttarahalli      3 BHK       1440   2.0   62.00    3
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                      Kothanur      2 BHK       1200   2.0   51.00    2
...                         ...        ...        ...   ...     ...  ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00    5
13316             Richards Town      4 BHK       3600   5.0  400.00    4
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00    2
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00    4
13319              Doddathoguru      1 BHK        550   1.0   17.00    1

[13246 rows x 6 columns]

In [42]:
df3[df3['bhk'] > 10]

                            location        size total_sqft  bath  price  bhk
459                     1 Giri Nagar      11 BHK       5000   9.0  360.0   11
1718       2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
1768              1 Ramamurthy Nagar  11 Bedroom       1200  11.0  170.0   11
3379                  1Hanuman Nagar      19 BHK       2000  16.0  490.0   19
3609   Koramangala Industrial Layout      16 BHK      10000  16.0  550.0   16
3853               1 Annasandrapalya  11 Bedroom       1200   6.0  150.0   11
4684                     Munnekollal  43 Bedroom       2400  40.0  660.0   43
4916                   1Channasandra      14 BHK       1250  15.0  125.0   14
6533                     Mysore Road  12 Bedroom       2232   6.0  300.0   12
7979                   1 Immadihalli      11 BHK       6000  12.0  150.0   11
9935                   1Hoysalanagar      13 BHK       5425  13.0  275.0   13
11559                  1Kasavanhalli  18 Bedroom       1200  18.0  200.0   18

Explore total_sqft feature